
        
    <div id="sidebar" class="bg-color2 bs p-3" style="margin-top: 89px;" >

        <a class="link2" routerLink="/" >
                <div class="d-flex mb-4 ms-4 pt-110">
                <img src="/assets/home.svg" alt="">
                    <span class="m-home link-color" >Home</span>
                </div>
        </a>
        <a class="link2" routerLink="/registration" >
            <div class="d-flex mb-4 ms-4">
            <img src="/assets/reg.svg" alt="">
                <span class="m-home link-color" >Orphans</span>
            </div>
        </a>
        <a class="link2" routerLink="/workFlow" >
            <div class="d-flex mb-4 ms-4">
            <img src="/assets/reg.svg" alt="">
                <span class="m-home link-color" >Sponsors</span>
            </div>
        </a>         
            
            
            
        <a  class="setting2 link2" routerLink="/setting" >
            <div class="d-flex mb-2 ms-4">
            <img src="/assets/Settings.svg" alt="">
            <span class="m-home link-color">Settings</span>
            </div>
        </a>
          
          
          
    </div>