<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12 col-lg-10">
				<div class="wrap d-md-flex">
					<div class="img" style="background-image: url(assets/Logo.png);">
					</div>
					<div class="login-wrap p-4 p-md-5">
						<div class="d-flex">
							<div class="w-100">
								<h3 class="mb-4">{{ 'login-page.SignIn' | translate}}</h3>
							</div>
							<div class="w-100">
								<p class="social-media d-flex justify-content-end">
									<a href="#"
										class="social-icon d-flex align-items-center justify-content-center"><span
											class="fa fa-facebook"></span></a>
									<a href="#"
										class="social-icon d-flex align-items-center justify-content-center"><span
											class="fa fa-twitter"></span></a>
								</p>
							</div>
						</div> 
						<form class="signin-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
							<div class="form-group mb-3">
								<label class="label" for="username">{{ 'login-page.user-label' | translate}}</label>
								<!-- <input [(ngModel)]="username" name="username" type="text" class="form-control" placeholder="" required> -->
								<input type="text" class="form-control"
								formControlName="username">
								<span style="color: red;" *ngIf="username && username.invalid && username.touched">
								  {{ 'modal-form.PleaseenterUsername' | translate }}</span>
							  </div>

								<!-- <input [ngModel]="username" type="username" class="form-control" placeholder="">
								<span style="color: red;" *ngIf="username && username.invalid && username.touched">
									{{ 'modal-form.PleaseEnterValidMotherName' | translate }}</span> -->
							
							<div class="form-group mb-3">
								<label class="label" for="password">{{ 'login-page.password-label' | translate}}</label>
								<!-- <input [(ngModel)]="password" name="password" type="password" class="form-control" placeholder=""> -->
								<input type="text" class="form-control"
								formControlName="password">
								<span style="color: red;" *ngIf="password && password.invalid && password.touched">
								  {{ 'modal-form.PleaseenterPassword' | translate }}</span>
							  </div>

								<!-- <input name="password" type="password" class="form-control" placeholder="">
								<span style="color: red;" *ngIf="password && password.invalid && password.touched">
									{{ 'modal-form.PleaseenterPassword' | translate }}</span> -->
						
							<div class="form-group">
								<button type="submit" class="form-control btn btn-primary rounded submit px-3"
									>{{ 'login-page.SignIn' | translate}}</button>
							</div>
							<div class="form-group d-md-flex">
								<div class="w-50 text-left">
									<!--<label class="checkbox-wrap checkbox-primary mb-0">Remember Me
										<input type="checkbox" checked>
										<span class="checkmark"></span>
									</label>-->
								</div>
								<div class="w-50 text-md-right">
									<!--<a href="#">Forgot Password</a>-->
								</div>
							</div>
						</form>
						<!--<p class="text-center">Not a member? <a data-toggle="tab" href="#signup">Sign Up</a></p>-->
					</div>
				</div>
			</div>
		</div>
	</div>

</section>